.root {
  font-family: 'Inter', sans-serif;
  background-color: #282626;
  box-sizing:border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-banner {
  padding: 20px;
  text-align: center;
  font-family: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 500%;
}

.banner-container {
  align-items: center;
  text-align: center;
  align-content: center;
  color: #fff;
}

.section-header {
  padding: 20px;
  text-align: center;
  font-family: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #fff;
}

.initial-button-container {
  align-items: center;
  padding: 20px;
  text-align: center;
  align-content: center;
  color: #fff;
}

.usage-fact {
  padding: 20px;
  text-align: center;
  font-family: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}