/* Marquee CSS */
/* The goal of this CSS is to have multiple links that scroll in a marquee fashion. */
/* The marquee is a scrolling area that is created by wrapping a set of links in a div. */

.who-is-using-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  width: 200%;
  overflow: hidden;
  animation: 120s marquee ease infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.who-is-using {
  padding: 10vh 0;
}

.users-ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.users-ul li {
  display: inline-block;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-size: 200%;
}

.users-ul li a {
  text-decoration: none;
  color: #999;
}

.users-ul li a:hover {
  background: linear-gradient(to right, #ff0000, #ffff00, #ff0000);
  -webkit-background-clip: text !important;
  transition: all 0.25s ease-in-out;
  color: transparent;
  width: calc(100% - 20px);
  animation: glowing 100s linear infinite;
  background-size: 1000%
}

@keyframes glowing {
  0% { background-position: 0 0; }
  100% { background-position: 1000% 0; }
}

.who-is-using-note {
  font-size: 20px;
  color: #fff;
}